/laskarit/viikko2/Unicafe/target
/laskarit/viikko2/Unicafe/nbproject/
com.mycompany/target 
/Opiskelija-alennuslaskuri/Opiskelija-alennuslaskuri/target/
/Opiskelija-alennuslaskuri/OpiskelijaAlennuslaskuri/target/
/OpiskelijaAlennuslaskuri/OpiskelijaAlennuslaskuri/target/